.task-progress .progress {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    height: 8px;
    border-radius: 100px;
    margin-bottom: 0px;
}

.task-progress .progress::-webkit-progress-bar {
    background-color: var(--white_ten);
}

.task-progress .progress::-webkit-progress-bar,
.task-progress .progress::-webkit-progress-value {
    border-radius: 10px;
}

.task-progress .progress::-moz-progress-bar {
    border-radius: 10px;
}

.task-progress .progress1::-webkit-progress-value {
    background: var(--b_primary);
}

.task-progress p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-progress .progress.progress2::-webkit-progress-bar {
    background-color: var(--white_ten);
}

.task-progress .progress.progress2::-webkit-progress-value {
    background: var(--b_primary);
}
.task-progress .progress.progress2 {
    width: 290px;
    height: 4px;
}