.login_form .form-group label {
    width: 80%;
}
.login_form .form-group label:has(+ input:focus),
.login_form .form-group label:has(+ input:not(:placeholder-shown)) {
    width: fit-content;
}
.form-group label {
    position: absolute;
    top: 15px;
    left: 5px;
    background-color: transparent;
    background-color: var(--white_grey);
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
}
.form-group label:has(+ input:focus),
.form-group label:has(+ input:not(:placeholder-shown)) {
    color: var(--b_primary);
    position: absolute;
    top: -10px;
    left: 15px;
}
.form-control:focus {
    box-shadow: none;
    border-color: var(--b_primary);
    background-color: transparent;
}
.common-label-css label {
    color: var(--B_blue);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    position: relative;
    top: 0;
    left: 0;
    background-color: transparent;
    padding: 0 0 12px 0;
}
.common-label-css label.property_create-radio {
    font-weight: 400;
}
.common-label-css label:has(+ input:focus),
.common-label-css label:has(+ input:hover),
.common-label-css label:has(+ input:not(:placeholder-shown)) {
    color: var(--black);
    position: relative;
    top: 0;
    left: 0;
}
#filterForm label {
    text-align: left;
    width: 100%;
    cursor: pointer;
    text-wrap: nowrap;
}
.crm-range-slider-container label {
    color: var(--B_blue);
    margin-bottom: 5px;
}
.crm-single-select-container label,
.crm-textarea-container label,
#addPropertyForm label,
.crm-radio-container label {
    color: var(--B_blue);
}
.small_capitalize label {
    text-transform: none !important;
}
.common-label-css input:disabled {
    opacity: 0.8;
    background-color: transparent;
}
.common_css_two label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0;
}

.common_css_two input {
    padding: 0 0 0 107px;
    border-radius: 8px 8px 0 0;
}

.common_css_three input {
    padding: 0 0 0 122px;
}
.common_css_four input {
    padding: 0 0 0 155px;
}

.common_css_two label:has(+ input:focus),
.common_css_two label:has(+ input:hover),
.common_css_two label:has(+ input:not(:placeholder-shown)) {
    position: absolute;
    top: 15px;
    left: 15px;
}

.common-label-css.common_css_two input:disabled {
    opacity: 1;
}

#addPropertyForm .crm-checkbox-container label:hover {
    color: var(--b_primary);
}
.common-label-css .checkbox_view-page label {
    padding: 0;
}
