.dashboard_input-search {
    border-radius: 8px;
    background: var(--background);
    width: 212px;
}

.input-icon-search {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 16px;
}

.dashboard-search-icon {
    top: 10px;
}

.input-icon-one {
    padding-left: 35px !important;
    border-radius: 8px !important;
}