.toggle-password {
    position: absolute;
    top: 15%;
    right: 10px;
    cursor: pointer;
}
#loginForm .toggle-password {
    top: 22%;
}
/* .small-text-password {
    top: -4px;
} */
img.close-eyes {
    display: none;
}
.toggle-password:hover img.close-eyes {
    display: block;
    padding: 0 0 0 0;
}
.toggle-password:hover img.open-eyes {
    display: none;
    opacity: 0;
}
.form-control.is-invalid ~ .toggle-password {
    top: 35%;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
    background-image: none;
}
.invalid-feedback {
    font-weight: 400 !important;
}
/* @media (max-width: 567px) {
    .toggle-password {
        top: 10%;
    }
    #loginForm .toggle-password {
        top: 14%;
    }
} */
